@font-face {
  font-family: TradeGothicLTStd;
  src: url("../fonts/TradeGothicLTStd.otf") format("opentype");
}

@font-face {
  font-family: TradeGothicLTStd-Light;
  src: url("../fonts/TradeGothicLTStd-Light.otf") format("opentype");
}

@font-face {
  font-family: TradeGothicLTStd-Bold;
  font-weight: bold;
  src: url("../fonts/TradeGothicLTStd-Bold.otf") format("opentype");
}